/*=$=________///////////////__==Ги опфаќа сите елементи==__\\\\\\\\\\\\\\\________=$=*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
/*=$=________///////////////__==Ги опфаќа сите елементи==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Подглавје==__\\\\\\\\\\\\\\\________=$=*/
    header{
        background-color: #252524;
        color: #fff;
    }
/*=$=________///////////////__==Подглавје==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Мени==__\\\\\\\\\\\\\\\________=$=*/
    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 70px;
    }
/*=$=________///////////////__==Мени==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Линк==__\\\\\\\\\\\\\\\________=$=*/
    a{
        text-decoration: none;
        color: #fff;
        margin: 10px;
    }
/*=$=________///////////////__==Линк==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Лого==__\\\\\\\\\\\\\\\________=$=*/
    .logo{
        color: #fff;
        font-size: 30px;
        font-weight: bold;
    }
/*=$=________///////////////__==Лого==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Листата што ги содржи линковите==__\\\\\\\\\\\\\\\________=$=*/
    .nav-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
/*=$=________///////////////__==Листата што ги содржи линковите==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==li (List Items)==__\\\\\\\\\\\\\\\________=$=*/
    li{
        list-style: none;
    }
/*=$=________///////////////__==li (List Items)==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Бургер навигација==__\\\\\\\\\\\\\\\________=$=*/
    .burger-menu{
        display: none;
        cursor: pointer;
    }
/*=$=________///////////////__==Бургер навигација==__\\\\\\\\\\\\\\\________=$=*/

/*=$=________///////////////__==Линии за бургер навигацијата==__\\\\\\\\\\\\\\\________=$=*/
    .bar{
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 50px;
        background-color: #fff;
        margin: 5px;
        -webkit-translate: all 0.3s ease;
        translate: all 0.4s ease;
    }
/*=$=________///////////////__==Линии за бургер навигацијата==__\\\\\\\\\\\\\\\________=$=*/



/*=$=________///////////////__==Респонзивност==__\\\\\\\\\\\\\\\________=$=*/
    @media(max-width: 768px){
        /*=$=____\\\\\\\__==Навигацијата ќе ни се прикаже==__\\\\\\\____=$=*/
            .burger-menu{
                display: block;
            }
        /*=$=____\\\\\\\__==Навигацијата ќе ни се прикаже==__\\\\\\\____=$=*/

        /*=$=____\\\\\\\__==Ќе ни се прави ИКС на бургер менито со помош на ЈаваСкрипт==__\\\\\\\____=$=*/
            .burger-menu.active .bar:nth-child(2){
                opacity: 0;
            }

            .burger-menu.active .bar:nth-child(1){
                transform: translateY(8px) rotate(45deg);
            }

            .burger-menu.active .bar:nth-child(3){
                transform: translateY(-8px) rotate(-45deg);
            }
        /*=$=____\\\\\\\__==Ќе ни се прави ИКС на бургер менито со помош на ЈаваСкрипт==__\\\\\\\____=$=*/

        /*=$=____\\\\\\\__==Навигација за телефон или таблет==__\\\\\\\____=$=*/
            .nav-list{
                position: fixed;
                top: -100%;
                background-color: #252524;
                color: #fff;
                text-align: center;
                width: 100%;
                flex-direction: column;
                transition: all 0.3s ease;
                z-index: 99;
            }
        /*=$=____\\\\\\\__==Навигација за телефон или таблет==__\\\\\\\____=$=*/

        /*=$=____\\\\\\\__==Навигација за телефон или таблет која ќе се прикаже при клик на бургер менито==__\\\\\\\____=$=*/
            .nav-list.active{
                top: 70px;
            }
        /*=$=____\\\\\\\__==Навигација за телефон или таблет која ќе се прикаже при клик на бургер менито==__\\\\\\\____=$=*/

        /*=$=____\\\\\\\__==Простоп помеѓу линковите во навигацијата==__\\\\\\\____=$=*/
            .list-items{
                margin: 16px 0;
            }
        /*=$=____\\\\\\\__==Простоп помеѓу линковите во навигацијата==__\\\\\\\____=$=*/
    }
/*=$=________///////////////__==Респонзивност==__\\\\\\\\\\\\\\\________=$=*/